@media-common: true;




& when (@media-common = true) {
    // your code
    .page-footer{
        .mlp_title {
            font-weight: bold !important;
            font-size: large !important;
        }
        .footer-title{
            font-size: 1.6rem;
            font-weight: bold;
        }
        .footer {
            display: flex;
            width: 100%;
            flex-wrap: wrap;
        }

        .mlp_contact_links {
            order: 1;
            box-sizing: border-box;
            padding-right: 10px;
            width: 33%;
        }
    
        
        .mlp_links {
            order: 3;
            box-sizing: border-box;
            padding-right: 10px;
            width: 33%;
        }
        .block.newsletter {
            order: 4;
            box-sizing: border-box;
            width: 33%;
            float: right;
            .title {
                display: block;
            }
            .content {
                margin-bottom: 15px;
            }
        }
        .horario {
            order: 5;
            box-sizing: border-box;
            width: 100%;;
            font-weight: bolder;
            text-align: center;
            margin-top: 10px;
            margin-bottom: -15px;
            flex-grow: 2;
            order: 5;
        }

    }
    

}


.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    // your code
    .page-footer{
        

        .footer {
            padding-top: 0px;
            display: flex;
            width: 100%;
            flex-direction: column;
        }

        .mlp_contact_links {
            margin: 0px -15px;
            padding: 0px 15px;
            padding-right: 10px;
            width: 100% !important;
        }
    
        .mlp_service_links {
            margin: 0px -15px;
            padding: 0px 15px;
            border-top: 1px solid #cecece;
            padding-right: 10px;
            width: 100% !important;
        }
        .mlp_links {
            margin: 0px -15px;
            padding: 0px 15px;
            border-top: 1px solid #cecece;
            padding-right: 10px;
            width: 100% !important;
        }
        .block.newsletter {
            margin: 0px -15px;
            padding: 10px 15px 0px 15px;
            border-top: 1px solid #cecece;
            width: 100% !important;
            .title {
                display: block;
            }
            .content {
                margin-bottom: 15px;
            }
        }
        .horario {
            border-top: 1px solid #cecece;
            width: 100% !important;
            margin: 10px 0px 0px -15px;
            padding-bottom: 15px;
        }

        .footer_contacts{
            .footer-title-border{
                margin: 10px -15px 10p -15px;
            }   
            .mlp_title{
                margin-top: 10px;
            }
            .mlp_contact_links {
                padding: 0px !important;
            }
            .contact_links {
                margin: 0px;
            }
        }
    }
}
